@charset "UTF-8";

@import url('https://fonts.googleapis.com/css?family=Mansalva|Montserrat&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  color: #fff;
}

a {
  color: #1f5e9c;
  text-decoration: none;
}

a:hover { text-decoration: underline; }

:root { background-color: #363b41; }

.container { padding: 2em 1em; }

.right { float: right; }

.left { float: left; }

.text-red { color: rgb(192, 20, 20); }

.title { font-family: 'Mansalva', cursive; }

.d-flex,
.navbar { display: flex; }

.col { width: 100%;}

.row {
  width: 100%;
  flex-wrap: nowrap;
}

.row-wrap { flex-wrap: wrap; }

.justify-content-center{ justify-content: center; }

.align-items-center { align-items: center; }

.justify-content-between { justify-content: space-between; }

.text-center { text-align: center; }

.divide { margin: 2em 0; }

.user-profile {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  padding: .5em;
}

/**
 * FORM
*/

form { width: 100%; }

.btn { cursor: pointer; }

.btn-std {
  width: 5em;
  padding: .2em 0;
  border-radius: .2em;
}

.btn-block { width: 100%; }

.btn-gray {
  background-color: #434a52;
  color: #fff;
}

.btn-blue {
  background-color: #1f5e9c;
  color: #fff;
}

.btn-gray:hover,
.btn-gray:focus { background-color: #555b63; }

.btn-blue:hover,
.btn-blue:focus { background-color: #2a6cad; }

.btn,
.input-control {
  border: none;
  transition: background-color .5s;
  outline: 0;
}

.input-control,
.btn-block {
  width: 100%;
  border-radius: .5em;
}

.input-control {
  background-color: #434a52;
  color: #fff;
}

.input-control:focus { background-color: #555b63; }

::-webkit-input-placeholder { color: #929496; }

.input-group,
.input-group-label { display: flex; }

.form-group,
.input-group { margin: 1em; }

.input-group input {
  width: 85%;
  border-radius: 0 .5em .5em 0;
}

.input-group-label {
  width: 15%;
  background-color: #2c3036;
  color: #fff;
  border-radius: .5em 0 0 .5em;
  align-items: center;
  justify-content: center;
}